{% extends 'base.html' %}
{% block content %}

<h1>All Resources</h1>
{% for resource in resources %}
<div class="card">
    <a href="{% url 'detail' resource.id %}">
        <div class="card-content">
            <span class="card-title">{{ resource.type }}</span>
            <p>Description: {{ resource.description }}</p>
            <p>Location: {{ resource.location }}</p>
            <p>Species: {{ resource.species }}</p>
            <p>User: {{ resource.user }}</p>
        </div>
    </a>
</div>
{% endfor %}

{% endblock %}