{% extends 'base.html' %}
{% block content %}

<h1>Resource Details</h1>
<div class="row">
<div class="col s12">
<div class="card">
    <div class="card-content">
        <span class="card-title">{{ resource.get_type_display }}</span>
        <p>Description: {{ resource.description }}</p>
        <p>Location: {{ resource.location }}</p>
        <p>Species: {{ resource.species }}</p>
        <p>User: {{ resource.user }}</p>
    </div>
    {% if request.user == resource.user %}
    <div class="card-action" style="text-align: right">
        <a href="{% url 'resources_update' resource.id %}"><i class="material-icons hoverable circle" style="color:#6448B7">edit</i></a>
        <a href="{% url 'resources_delete' resource.id %}"><i class="material-icons hoverable circle" style="color:#6448B7">delete</i></a>
    {% else %}
        <button data-target="modal1" class="btn modal-trigger waves-effect waves-light"><i class="material-icons">email</i></button>
    {% endif %}
      </div>

  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Contact Info</h4>
      <p>{{ resource.user.first_name }}</p>
      <p>{{ resource.user.email }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
  </div>
    </div>

  <br><br><br>

  </div>
      <div class="col s12">
        <form action="{% url 'add_comment' resource.id %}" method="POST">
          {% csrf_token %}
          {{ comment_form.as_p }}
          <input type="submit" class="btn waves-effect waves-light" id="add-comment" value="Add Comment">
        </form>
        <table class="striped">
          <thead>
            <tr><th>Date</th><th>Content</th><th>User</th><th>Delete Comment</th></tr>
          </thead>
          <tbody>
            {% for comment in resource.comment_set.all %}
              <tr>
                <td>{{comment.date}}</td>
                <td>{{comment.content}}</td>
                <td>{{comment.user}}</td>
                <td>{% if request.user == comment.user %}<a href="{% url 'delete_comment' resource.id comment.id %}"><i class="material-icons" style="color:teal">delete</i></a>{% endif %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
  </div>

  <script>

    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });

    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
  
  </script>


{% endblock %}