body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Nunito', sans-serif;
}

main {
  flex: 1 0 auto;

}

a {
  color: white;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;

}

.page-footer {
  background-color: #6448B7;
  filter: opacity(50%);
}

.modal-trigger {
  margin: 15px;
}

.btn {
  background-color: #6448B7;
}

.btn:hover {
  background-color: #6448B7;
  filter: opacity(50%);
}

.tap-target {
  background-color: #6448B7;
  color: white;
}

.card-content {
  color: black;
}

#upper-nav {
  background-color: #6448B7;
  filter: opacity(50%);
}

#lower-nav {
  background-color: #6448B7;
}

#owners-about {
  margin-top: 60px;
}

#find-out-how{
  margin-top: 15px;
}

#home-resources {
  display: flex;
  font-size: 18px;
  justify-content: center;
  margin-top: 50px;
  align-items: flex-start;

}

#other-home,
#food-home,
#train-home,
#health-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 250px;
  margin-right: 50px;

}

#other-home {
  margin-right: 0;
}

#list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#menu {
  bottom: -40px;
  position: fixed;
  right: -13px;
}

#add-comment {
  color: white;
}

#submit {
  color: white
}