{% extends 'base.html' %}
{% block content %}


<div class="about">

</div>


<div id="home-resources">
    <div class="col s12 m3" id="food-home">
        <i class="large material-icons">room_service</i> 
        <h5>Food Resources</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, sed est dolores accusantium officiis tempora similique, dolorem at corrupti delectus voluptatibus consectetur consequuntur veniam mollitia alias et amet eos quisquam.<p>  
    </div>
    <div class="col s12 m3" id="health-home">
        <i class="large material-icons">healing</i>
        <h5>Health Resources</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo laboriosam, quisquam nihil laborum officiis corrupti possimus odio natus recusandae quis totam in a quod repudiandae aliquam tenetur porro quibusdam eligendi.<p>
    </div>
    <div class="col s12 m3" id="train-home">
        <i class=" large material-icons">star</i>
        <h5>Training Resources</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit fugiat nihil recusandae possimus dignissimos. Tempore reprehenderit assumenda architecto voluptatibus suscipit sapiente autem pariatur voluptatum molestiae tenetur, similique, temporibus nesciunt quae?<p>
    </div>
    <div class="col s12 m3" id="other-home">
        <i class=" large material-icons">pets</i>
        <h5>Other Resources</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, doloremque deserunt at, temporibus suscipit aliquid quam mollitia ea itaque voluptatem, qui perferendis? Perferendis earum consequuntur eius optio autem esse eveniet.<p>
    </div>
</div>


{% endblock %}