{% extends 'base.html' %}
{% block content %}


<div class="center-align" id="about">
    <h1>Times are ruff.</h1>
    <h3>Shelters are full.</h3>
    <h5>Let's work together to keep pets out of the shelters and in their homes by offering services and resources to pet owners in need.</h5>
    <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')">Find Out How</a>
    

</div>

<h5 class="center-align" id="owners-about">Pet owners, you'll find resources to meet every need:</h5>


<div id="home-resources">
    <div class="col s12 m3" id="food-home">
        <i class="large material-icons">room_service</i> 
        <h5>Food Resources</h5>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cumque, sed est dolores accusantium officiis tempora similique, dolorem at corrupti delectus voluptatibus consectetur consequuntur veniam mollitia alias et amet eos quisquam.<p>  
    </div>
    <div class="col s12 m3" id="health-home">
        <i class="large material-icons">healing</i>
        <h5>Health Resources</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo laboriosam, quisquam nihil laborum officiis corrupti possimus odio natus recusandae quis totam in a quod repudiandae aliquam tenetur porro quibusdam eligendi.<p>
    </div>
    <div class="col s12 m3" id="train-home">
        <i class=" large material-icons">star</i>
        <h5>Training Resources</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit fugiat nihil recusandae possimus dignissimos. Tempore reprehenderit assumenda architecto voluptatibus suscipit sapiente autem pariatur voluptatum molestiae tenetur, similique, temporibus nesciunt quae?<p>
    </div>
    <div class="col s12 m3" id="other-home">
        <i class=" large material-icons">pets</i>
        <h5>Other Resources</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, doloremque deserunt at, temporibus suscipit aliquid quam mollitia ea itaque voluptatem, qui perferendis? Perferendis earum consequuntur eius optio autem esse eveniet.<p>
    </div>
</div>


<a id="menu" class="right waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>
<div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Donate Now</h5>
      <p>A bunch of text</p>
    </div>
  </div>

<script>
     $(document).ready(function(){
    $('.tap-target').tapTarget();
  });
</script>
{% endblock %}