{% extends 'base.html' %}
{% block content %}

<h1 class="center-align">All Resources</h1>
<div class="row">
    {% for resource in resources %}
        <div class="col s12 m6 l4">
            <div class="card hoverable" >
                <a href="{% url 'detail' resource.id %}">
                    <div class="card-content">
                        <span class="card-title">{{ resource.get_type_display }}</span>
                        <p>Location: {{ resource.location }}</p>
                        <p>Species: {{ resource.species }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}